/* Write your CSS here */
.container {
  height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box1 {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.h1 {
  text-align: center;
  color: #ff8542;
}
